/*About me section styling*/
#aboutme{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 100px 15%;
    background-color: #fff;
}
.about-bio .bio-info{
    margin-top: 50px;
    box-sizing: border-box;
    display: block;
}
.about-image img{
    object-fit: cover;
    padding-right: 50px;
}
.about-bio .bio,
.bio-info .info,
.bio-info .info-title{
    font-family: 'Poppins' ,sans-serif;
}
.bio,
.about-bio .bio-info .info,
.about-bio .bio-info .info-title{
      color: rgba(0,0,0,0.7);
}
@media (max-width :) {

}
